.about {
  // display: none;
  // background-color: $violet-60;
  border-bottom: 3px solid $grey-75;

  &__container {
    display: grid;
    row-gap: 16*$px;
    padding-top: 16*$px;
    padding-bottom: 16*$px;

    @media ($tablet) {
      display: grid;
      grid-template-columns: 1.1fr 1fr 1.1fr;
      column-gap: 16*$px;
    }
  }

  &__wrapper-text {
    text-align: center;
    display: grid;
    row-gap: 8*$px;

    @media ($tablet) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__text {
    @media ($tablet) {
      border-radius: 10*$px;
    }
  }

  &__wrapper-biography {
    @media ($tablet) {
      order: -1;
    }
  }

  &__title {
    @include reset-p-h;
    font-size: 18*$px;
    font-weight: 700;
  }


  &__avatar {
    @include reset-img;

    @media ($tablet) {
      height: 100%;
      object-fit: cover;
      border-radius: 10*$px;
    }
  }

  &__text {
    @include reset-p-h;
    background-color: $white;
    padding: 8*$px;
  }
}
