.contacts {
  display: grid;
  row-gap: 8*$px;

  &__link {
    @include reset-link;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icons {
    border-radius: 50%;
    box-shadow: 3px 3px 2px $black;
    width: 24*$px;
    height: 24*$px;
  }

  &__socials-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16*$px;
  }
}
