.footer {
  background-color: $violet-100;
  color: $white;

  &__container {
    padding-top: 16*$px;
    padding-bottom: 16*$px;
  }

  &__principles {
    @include reset-list;
    text-align: center;
    display: grid;
    row-gap: 4*$px;

    @media ($tablet) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      column-gap: 8*$px;
      row-gap: 4*$px;
    }
  }

  &__principle:nth-child(even) {
    @media ($tablet) {
      padding-top: 8px;
    }
  }

  &__principle:nth-child(odd) {
    @media ($tablet) {
      padding-bottom: 8px;
    }
  }

  &__text {
    text-shadow: 3px 3px 2px $black;
  }
}
