.header {
  background-color: $violet-100;

  &__profession {
    text-transform: lowercase;
    text-align: center;
  }

  &__container {
    display: grid;
    row-gap: 8*$px;
    justify-content: center;
    padding-top: 8*$px;
    padding-bottom: 8*$px;
    color: white;

    @media (min-width:$min-width-tablet) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
