.header {
  background-color: $violet-100;
  text-shadow: 3px 3px 2px $black;

  &__profession {
    text-transform: lowercase;
    text-align: center;
  }

  &__container {
    display: grid;
    row-gap: 8*$px;
    justify-content: center;
    padding-top: 16*$px;
    padding-bottom: 16*$px;
    color: white;

    @media ($tablet) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
