.container {
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;

  @media ($tablet) {
    max-width: 1104px;
    padding-right: 24px;
    padding-left: 24px;
  }

  @media ($desktop) {
    padding-right: 32px;
    padding-left: 32px;
  }
}
