@font-face {
  font-family: "Lexend";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/Lexend-Regular.woff") format("woff"), url("../fonts/Lexend-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Lexend";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/Lexend-Bold.woff") format("woff"), url("../fonts/Lexend-Bold.woff2") format("woff2");
}

// @font-face {
//   font-family: "MochiyPopOne-Regular";
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
//   src:
//     url("../fonts/MochiyPopOne-Regular") format("ttf") // , url("../fonts/SKODANext-Regular.woff") format("woff");
// }

// @font-face {
//   font-family: "Righteous-Regular";
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
//   src:
//     url("../fonts/Righteous-Regular") format("ttf") // , url("../fonts/SKODANext-Regular.woff") format("woff");
// }

// @font-face {
//   font-family: "SKODANext";
//   font-weight: 700;
//   font-style: normal;
//   font-display: swap;
//   src:
//     url("../fonts/SKODANext-Bold.woff2") format("woff2"),
//     url("../fonts/SKODANext-Bold.woff") format("woff");
// }

// @font-face {
//   font-family: "SKODANext";
//   font-weight: 300;
//   font-style: normal;
//   font-display: swap;
//   src:
//     url("../fonts/SKODANext-Light.woff2") format("woff2"),
//     url("../fonts/SKODANext-Light.woff") format("woff");
// }
